* {
  margin: 0;
  padding: 0;
}

.product-container {
  width: 95vw;
  margin: 90px auto;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.product-container li {
  padding: 10px;
  border: 1px black solid;
  width: 300px;
  cursor: pointer;
  transition: ease 0.7s;
}

Link {
  color: black;
}

/* .product-container li:hover {
  scale: 1.1;
} */

.product-container li {
  margin: 10px;
  width: 200px; /* Set a fixed width for each product item */
}

.product-container li img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain the aspect ratio */
  transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}

.product-container li img:hover {
  transform: scale(1.1); /* Scale the image on hover */
}

.product-container img {
  width: 150px;
  height: 150px;
  padding: 10px 0;
}
