body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #333; 
  color: white; 
}

.logo-container img {
  max-height: 150px; /* Adjust the max-height as needed */
  margin-left: 40px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center; 
}

.footer-nav li {
  margin-right: 40px;
}

.footer-nav a {
  font-size: 20px; 
  text-decoration: none;
  color: white; 
}

.footer-nav a:hover {
  text-decoration: underline;
}
