.card {
  width: 20rem;
  margin-bottom: 1rem;
  border: none;
  margin-left: 50px;
  margin-top: 30px;
}

.g-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
}

.center-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
